<div class="ui cards">
  <div class="card" *ngFor="let product of products | range:'price':rangeFilter.min:rangeFilter.max | range:'quantity':rangeFilter.minStock:rangeFilter.maxStock | available:'available':rangeFilter.available | orderBy : rangeFilter.sort.field | search:'name':rangeFilter.search">
    <div class="content">
      <div class="header">
        {{ product.name | titlecase }}
        <a class="ui red circular label float-right">
          {{ product.price | currency:'$' : true : '1.0-2' }}
        </a>
      </div>
      <div class="description mt-4">
          <span *ngIf="!product.available">No disponible - </span> Stock: {{ product.quantity }}
      </div>
    </div>
    <button class="ui teal bottom attached button"
            [disabled]="!product.available"
            (click)="addToShopping(product)">
      <i class="add icon"></i>
      Agregar al carrito
    </button>
  </div>
</div>
