<nav>
  <h1 class="ui header float-left ml-5 logo-title" routerLink="/">
    <span style="color:#0c6f7e">El</span><span style="color:#1cb7c7">BARATON!</span>
  </h1>
  <div class="container-shopping">
    <div class="nav-bar-button ml-2 d-block d-sm-block d-lg-none" (click)="showMenuCategories()">
        <i class="bars icon big"></i>
    </div>
    <div class="shopping-car dropdown" (click)="showShippingCar()">
      <span class="count animated number_message" *ngIf="shippingList.length">
        {{ shippingList.length }}
      </span>
      <span class="icon"><i class="shopping basket icon"></i></span>
    </div>
  </div>
</nav>

<!-- Shoopping cart -->
<div class="sidenav d-none" [ngClass]="{'show-ship':showShip}">
  <div>
      <div *ngFor="let ship of shippingList">
        {{ ship.product.name }} - {{ ship.quantity }}
      </div>
  </div>
</div>

