nav{
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #e5edef;
  position: fixed;
  z-index: 1002;
}
nav .header { margin: 0; }
nav .logo-title{ margin: 10px; cursor: pointer; }

.container-shopping{ padding: 11px 40px; }
.container-shopping .nav-bar-button{ float: right; }
.container-shopping .shopping-car { float: right; }
.container-shopping .shopping-car  .icon { color: #00b7c7; font-size: 1.3em; }
.container-shopping .nav-bar-button  i{ color: #00b7c7; margin: 4px;}
.container-shopping .shopping-car  .count {
  position: absolute;
  top: -2px;
  right: -1px;
  height: 15px;
  width: 15px;
  overflow: hidden;
  background: #ef4c4c;
  color: #FFF;
  text-align: center;
  border-radius: 100%;
  font-size: 9px;
  font-weight: bold;
  line-height: 15px;
}

/* Side nav */
.sidenav {
  height: 100%;
  border-left: 1px solid #e5edef;
  background-color: #fff;
  width: 250px;
  overflow: auto;
  padding: 10px 0;
  z-index: 1009;
  right: 0;
  position: fixed;
  margin-top: 60px;
}
.sidenav ul{ padding:0px; }
.sidenav ul li{
  display: block;
  min-height: 45px;
  line-height: 45px;
  transition: .3s;
}
.sidenav ul li a{
  display: block;
  transition: .3s;
  text-align: left;
  color: #333;
  font-size: 14px;
  padding: 0 20px;
  position: relative;
}
.sidenav ul li a i{ float: right; }
.sidenav ul li:hover, .active{ background-color: #f3f3f3; }
.sidenav ul li>a:hover, .active a{ color: #1cb7c7 !important; }

.show-ship{ 
  display: block !important; 
  animation: slowshowing 0.1s ease-in-out;
  -webkit-animation: slowshowing 0.1s ease-in-out;
  -moz-animation: slowshowing 0.1s ease-in-out;
}

@media (max-width: 991px) {
  nav{
    height: 49px;
    padding: 0;
  }
  nav .logo-title{
    font-size: 25px;
    margin: 7px 7px !important;
  }
  .sidenav{ margin-top: 49px; }
  .container-shopping{ padding: 7px 7px; }
}

