<nav>
  <h1 class="ui header float-left ml-5 logo-title" routerLink="/">
    <span style="color:#0c6f7e">El</span><span style="color:#1cb7c7">BARATON!</span>
  </h1>
  <div class="container-shopping">
    <div class="nav-bar-button ml-2 d-block d-sm-block d-lg-none" (click)="showMenuCategories()">
        <i class="bars icon big"></i>
    </div>
    <div class="shopping-car dropdown" (click)="showShippingCar()">
      <span class="count animated number_message" *ngIf="shippingList.length">
        {{ shippingList.length }}
      </span>
      <span class="icon"><i class="shopping basket icon"></i></span>
    </div>
  </div>
</nav>

<!-- Shoopping cart -->
<div class="sidenav d-none" [ngClass]="{'show-ship':showShip}">
    <!-- if not shipping list -->
    <h2 class="ui icon header mt-3 empty-car" *ngIf="!shippingList.length">
      <i class="shopping cart icon"></i>
      <div class="content">
        Tu carrito está vacío
        <div class="sub header">Busca en nuestro catálogo algo que te pueda interesar!.</div>
      </div>
    </h2>
    
    <!-- Shipping list -->
    <div  *ngIf="shippingList.length">
        <button class="teal ui button w-100">Finalizar Compra</button>
        <button class="ui button w-100 mt-2" (click)="cleanShopping()">Vacíar Carrito</button>
        <hr>
        <div class="ui cards mt-1">
          <div class="card" *ngFor="let ship of shippingList">
              <div class="content">
                <span class="float-right">
                    <span class="input-number-decrement" (click)="modifyShipping(ship,'subtract')">
                      <label *ngIf="ship.quantity>1">–</label>
                      <i *ngIf="ship.quantity == 1" class="trash alternate icon small" style="margin:0"></i>
                    </span>
                    <input class="input-number" type="text" [value]="ship.quantity" readonly>
                    <span class="input-number-increment" (click)="modifyShipping(ship,'added')">+</span>
                </span>
                <div class="header float-left mt-1">
                  {{ ship.product.name }}
                </div>
                <div class="description">
                  Cantidad: {{ ship.quantity }}x{{ ship.product.price | currency:'$' : true : '1.0-2' }}
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

